.body {
  background-color: black;
}

.page {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.profile {
  display: flex;
  align-items: center;
  color: white;
  font-family: "Inter", sans-serif;
  max-width: 880px;
  margin: 0 auto 50px auto;
}

.profile__avatar {
  max-width: 168.75px;
  border-radius: 50%;
}

.profile__info {
  max-width: 415px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 18px;
  grid-template-areas: "name button" "job jjob";
}

.profile__name {
}

.profile__job {
}

.profile__edit-button {
  background-color: black;
  color: white;
  width: 24px;
  height: 24px;
  margin: 0;
  box-sizing: border-box;
  align-self: center;
}

.elements {
  color: white;
  max-width: 880px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
}

.element__image {
  max-width: 282px;
  max-width: 282px;
  width: 100%;
  height: 100%;
  display: block;
}
